In [1]:
print("Hello! My name is Mubashir")

Hello! My name is Mubashir

In [2]:
a=34
b=65
c=68
print(a+b+c)

167

In [3]:
# Print 1 to 100 numbers
for i in range(100+1):
    print(i)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100

In [4]:
# Check the number is even or odd
num = int(input("Enter a number : "))
print(type(num))

if num%2 == 0:
    print("Number you have entered is EVEN")
else :
    print("Number you have entered is ODD")

ValueError: invalid literal for int() with base 10: ''

In [ ]:
# Write a program to print a name 'n' times (name and n will be user inputs)


name = str(input("Enter the name : "))
num = int(input(f"How many times you want to print {name} : "))
for i in range(1,num + 1):
    print(name)

In [ ]:
name = input("Enter the name : ")
num = int(input(f"How many times you want to print {name} : "))
print()

In [ ]:
num=int(input("Enter the day number :"))
if num==1:
    print("Sunday")
elif num==2:
    print("Monday")
elif num==3:
    print("Tuesday")
elif num==4:
    print("Wednesday")
elif num==5:
    print("Thursday")
elif num==6:
    print("Friday")
elif num==7:
    print("Saturday")

In [ ]:
#index (string index start from 0,1,2....)
msg=("Mubashir")
print(msg[1]) #var[i] - this is the syntax of index
print(len(msg))
print( )
for i in msg:
    print(i)

In [ ]:
#Looping
msg=['Mubashir','Aman','Anurag','Vedant']
for i in msg[3]:
    for y in i:
        print(y)

In [ ]:

msg=['Mubashir','Aman','Anurag','Vedant']
print(msg[3][5])

In [ ]:
#Use Split
sen = ('Myself Mubashir Salim, I am from himachal')
rem = sen.replace(',',"") # I remove the , because it is also coming as a list
split = rem.split(' ')
print(split)

In [ ]:

username = input("Enter your username: ")
password = input("Enter your password: ")
print(f"Your password is: {password} and your username is: {username}")

In [ ]:
#use of .format()
username = input("Enter your username: ")
password = input("Enter your password: ")
print("Your password is: {} and your username is: {}".format(username,password))

In [ ]:
# find the sum of n multiples of 2 where n is user input
n = int(input('Enter number of multiple of 2: '))
sum=0
for i in range(2,n,2):
    print(i)
    sum=sum+i
print(sum)

In [ ]:
#List
students=['one','two','three','four']
print(students)
print(students[3])

#search sin list
if 'three' in students:
    print('success')

#add element in list
students.append('five')
print(students)                          # if i run append in another cell it will add item to the list number of time i run that cell

#remove item from list                   # it will remove index
students.pop()
print(students)                          #if i run pop in another cell it will add item to the list number of time i run that cell

#remove item usimg remove()              # it will remove particular item from list
students.remove('one')                 
print(students)

In [ ]:
#sort
students.sort()
print(students)

#reverse
students.reverse()
print(students)

In [ ]:
# FUNCTION
def fname():
    print('I am your first function :')

# we have to call function to execute it
fname()

In [ ]:
# FUNCTION with return
def fname():
    print('I am your first function :')
    retval = 'success'
    return retval

# we have to call function to execute it
status = fname()
print(status)

In [ ]:
# FUNCTION with return (multiple variable)
def fname():
    print('I am your first function :')
    retval = 'success'
    return retval, True

# we have to call function to execute it
status, flag = fname()                        # status and flag are variable name (pre-defined)
print(status, flag)

In [ ]:
# Define a function that takes in list of numbers & return sum of numbers without any predefined function

def listfn(lst):
    sum=0
    for item in lst:
        sum = sum + item
    return  sum

lst = [10,20,30,40,50,60]

print(listfn(lst))

In [ ]:
# Define a function that takes in list of numbers as INPUT & return sum of numbers without any predefined function

def listfn(lst):
    sum = 0
    for item in lst:
        sum = sum + item
    return sum

ls_input = input('Enter a list of numbers separated by commas: ')
ls = [int(x) for x in ls_input.split(',')]
print(ls)

print(listfn(ls))

In [ ]:

def lis(lists):
    sum = 0
    for i in range(len(lists)):
        sum = sum + lists[i]
    return sum
    
liso = [1,2,4]
print(lis(liso))

In [ ]:
for item in range(0,len(lst),1):
    print(lst[item])

In [ ]:
# make a function take input of name and print that name 10 times

nm=input('Enter your name: ')

def name10(nm):
    for i in range(1,10):
        print(nm)
    return 0

print(name10(nm))

File Handling

In [ ]:
file=open("sample.txt","w+")

In [ ]:
file.write("This is my first time to file from python.\n This is second line")

In [ ]:
file.close()

Write a function in python that accepts your dfetails and save it into file with your name.

In [ ]:
def saveDetails(name, email, phone):
    filename= name + 'txt'
    with open(filename,'w+') as file:
        file.write('Name\t:\t'+name)
        file.write('\nEmail\t:\t'+email)
        file.write('\nPhone\t:\t'+phone)

user_name=input('Enter name: ')
user_email=input('Enter Email: ')
user_phone=input('Enter phone no.: ')
saveDetails(user_name, user_email, user_phone)

Write a python program that will take two operands and an operator and performs the calculation and gives the result. Also save the calculations that your program perform in a file.

In [ ]:
user_operands_1 = int(input("Enter 1st operand: "))
user_operands_2 = int(input("Enter 2nd operand: "))
user_operator = input('Enter operator: ')

if user_operator == '+' :
     calculation = user_operands_1 + user_operands_2
elif user_operator == '-':
     calculation = user_operands_1 - user_operands_2
elif user_operator == '*':
     calculation = user_operands_1 * user_operands_2
elif user_operator == '/':
     calculation = user_operands_1 / user_operands_2
else :
     print('Error')
print(calculation)

In [5]:
#WHILE

a=0
while a<7:
    res = a * a
    print(a,res)
    a = a + 1

0 0
1 1
2 4
3 9
4 16
5 25
6 36

In [8]:
# BREAK, CONTINUE

for i in range(1,10):
    if i == 7:
        break
    print(i)

1
2
3
4
5
6

In [10]:
# BREAK, CONTINUE

for i in range(1,10):
    if i == 7:
        continue
    print(i)

1
2
3
4
5
6
8
9

In [13]:
list_ex = ['ABC','ABC','CDF','XYZ','MNO']
set_ex = set(list_ex)
print(set_ex)
back = list(set_ex)
print(back)

{'CDF', 'MNO', 'ABC', 'XYZ'}
['CDF', 'MNO', 'ABC', 'XYZ']

Create a list of 10 names that are random and repeating from the user. Identify the unique items and their count

In [18]:
names = []
for i in range(1,10,1):
    name = input('Enter name: ')
    names.append(name)
print(names)

unique_names = set(names)
print(unique_names)

for search in unique_names:
    count = 0
    for item in names:
        if search == item:
            count = count + 1
    print(search,count)

['mubashir', 'aabha', 'mubashir', 'aman', 'dheeraj', 'aman', 'aabha', 'anurag', 'vedant']
{'dheeraj', 'aabha', 'anurag', 'aman', 'mubashir', 'vedant'}
dheeraj 1
aabha 2
anurag 1
aman 2
mubashir 2
vedant 1

DICTONARIES

In [5]:
my_dict = {
    "Name" : "Mubashir Salim",
    "Phone" : 7018840330,
    "Email" : "mubashirsalim88@gmail.com",
}

print(my_dict)
print(my_dict["Name"])

{'Name': 'Mubashir Salim', 'Phone': 7018840330, 'Email': 'mubashirsalim88@gmail.com'}
Mubashir Salim

In [6]:
my_dict["Address"] = "Dinak, Sundernagar, Mandi, 175019"

In [7]:
print(my_dict)

{'Name': 'Mubashir Salim', 'Phone': 7018840330, 'Email': 'mubashirsalim88@gmail.com', 'Address': 'Dinak, Sundernagar, Mandi, 175019'}

In [8]:
print(my_dict["krufucb"])

KeyError: 'krufucb'

In [9]:
my_dict.values()

dict_values(['Mubashir Salim', 7018840330, 'mubashirsalim88@gmail.com', 'Dinak, Sundernagar, Mandi, 175019'])

In [11]:
print(my_dict.keys())
for key in my_dict.keys():
    print(key)

dict_keys(['Name', 'Phone', 'Email', 'Address'])
Name
Phone
Email
Address

In [26]:
students = {
    "Names" : ["A", "B", "C", "D"],
    "Roll_no" : [1,2,3,4],
}
for i in students["Names"][2]:
    print(i)

C

In [28]:
msds = [
    {
        "Rollnumber" : 23122124,
        "Name" : "Mubashir Salim",
        "Phone" : 7018840330,
    },
    {
         "Rollnumber" : 23122108,
        "Name" : "Anurag Yadav",
        "Phone" : 7018840320,
    },
    {
         "Rollnumber" : 23122141,
        "Name" : "Vedant Nehal",
        "Phone" : 7018840310,
    },
    {
         "Rollnumber" : 23122105,
        "Name" : "Aman Singh",
        "Phone" : 7018840300,
    }
]

In [29]:
print(msds)

[{'Rollnumber': 23122124, 'Name': 'Mubashir Salim', 'Phone': 7018840330}, {'Rollnumber': 23122108, 'Name': 'Anurag Yadav', 'Phone': 7018840320}, {'Rollnumber': 23122141, 'Name': 'Vedant Nehal', 'Phone': 7018840310}, {'Rollnumber': 23122105, 'Name': 'Aman Singh', 'Phone': 7018840300}]

In [34]:
for students in msds:
    print(students)
    for key in students.keys():
        print(students[key],end='\t')
    print()

{'Rollnumber': 23122124, 'Name': 'Mubashir Salim', 'Phone': 7018840330}
23122124	Mubashir Salim	7018840330
{'Rollnumber': 23122108, 'Name': 'Anurag Yadav', 'Phone': 7018840320}
23122108	Anurag Yadav	7018840320
{'Rollnumber': 23122141, 'Name': 'Vedant Nehal', 'Phone': 7018840310}
23122141	Vedant Nehal	7018840310
{'Rollnumber': 23122105, 'Name': 'Aman Singh', 'Phone': 7018840300}
23122105	Aman Singh	7018840300